body{
  background-color:burlywood;
  font-family : 'Roboto', sans-serif ;
  font-size: larger;
}

  .sndpage{
    background-color: black;
  }

h1{
  display: flex;
  justify-content: center;
  align-items: center;
}

h5, h4{
  font-weight: bold;
}

.bi-telephone-fill, .bi-geo-alt-fill{
  color: white

}

 .size{
  height: 200px;
  width: auto;
 }

 h5{
   text-align: center;
   text-decoration: underline;
 }

.rounded-circle{
  height: 50px;
  width: auto;
}

ul{
  list-style: none;
}

footer{
  border: 20px solid lightslategray;
  text-align:center;
}


a:not(.bluelink):not(.breadcrumblink){
  text-decoration: none;
  color: antiquewhite;
}
  

.copyrights{
  text-align: center;
  font-size: larger;
}

